/* font google 
per i paragrafi =>font-family: 'Cousine', monospace;
per i titoli =>font-family: 'Space Mono', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Cousine&family=Space+Mono:wght@400;700&display=swap');
/* colori */
:root{
    --bg-navbar: #3aa5a0;
    --color-text-card: #f3dad8;
    --bg-card: #5f1a37;
    --bg-footer: #AF7A6D;
    --bg-general: #73EEDC;
    /* altri colori che ci stanno bene */
    --color-general: #074F57;
    --outer-space: #464E47; 
    --dark-purple: #210124;
    /* nero meno nero che diminuisce il contrasto sullo sfondo bianco */
    --color-text-general: #1c1c1c;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Space Mono', monospace;
}
p, li, ul, a {
    font-family: 'Cousine', monospace
}
/* ---------navbar---------- */
.navbar-sfondo{
    background-color: var(--bg-navbar);
}
.home-logo{
    width: 6%;
}
/* ---------header--------- */
.my-image-bg{
    /* bg style */
    position: relative;
    height: 90vh;
    width: 100vw;
    margin-top: 56px;
    background-image: url(/immagini/headerimg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
 
}
.my-header-text{
    /* text style header */
    height: 300px;
    display: flexbox;
    color: var(--color-text-card);
    text-align: center;
    margin-top: 55px;
}
.my-button{
    margin: 50px;
    background-color: var(--color-general);
    color: var(--color-text-card);
    height: 35px;
    border-radius: 45%;
    border: 1px solid var(--outer-space);
}
/* ---------main-------- */
.my-main{
    height: 500px;
    background-color: var(--bg-general);
}
